@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

section {
    height: 100vh;
}

.section1 {
    display: flex;
    flex-direction: column;
}

nav {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;
    /* background-color: aquamarine; */
}

#logo {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 30px;
    cursor: pointer;
}

nav ul li:nth-of-type(3) {
    border-right: 1px solid rgba(128, 128, 128, 0.534);
}

#content-container {
    flex-grow: 1;
    /* background-color: brown; */
    display: flex;
}

nav ul :hover {
    color: rgb(26, 45, 153);
}

#right {
    background: url(./img/heroimage.png) no-repeat center;
    flex-basis: 43%;
    background-size: cover;
}

#left {
    flex-basis: 57%;
    /* background-color: coral; */
    padding: 40px 60px;
}

#content {
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 100%;
    justify-content: space-between;
}

#tulisan {
    height: 280px;
    width: 590px;
    line-height: 72px;
    /* background-color: cadetblue; */
    font-size: 62px;
}

#read {
    display: flex;
    width: 230px;
    font-size: 25px;
    margin-bottom: 35px;
    /* background-color: palevioletred; */
}

#read p {
    margin-right: 10px;
}

#read :hover {
    text-decoration: underline;
    margin-right: 20px;
    transition: 500ms;
}

.section2 {
    height: 350vh;
    display: flex;
    flex-direction: column;
    padding: 15% 7%;
    background-color: #e6e9eb;
}

#par {
    flex-basis: 20%;
    font-size: 40px;
    width: 40%;
}

.section2 h1 {
    font-weight: bold;
    font-size: 50px;
    flex-basis: 10%;
}

#slide {
    flex-grow: 1;
    width: 100%;
    display: grid;
    grid-template-areas:
     "grid1 grid2 grid3" 
     "grid5 grid4 grid3" 
     "grid5 grid6 grid7" 
     ". . grid8";
}

.grid1 {
    grid-area: grid1;
    background-color:#ffffff ;
}
.grid1 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid1 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img1{
    background: url(img/col11.png)no-repeat center;
    margin:10% 20% 20% 20%;
    background-size: cover;
    height: 60%;
}
.grid2 {
    grid-area: grid2;
    background-color:#3838a8 ;
    color: #e8f8f5;
}
.grid2 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid2 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img2{
    background: url(img/col21.png)no-repeat center;
    margin:10% 20% 20% 20%;
    background-size: cover;
    height: 60%;
}
.grid3 {
    grid-area: grid3;
    background-color:#f5f5f5 ;
    
}
.grid3 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid3 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img3{
    background: url(img/col31.png)no-repeat center;
    margin:10% 10% 5% 10%;
    background-size: cover;
    height: 80%;
}
.grid4 {
    grid-area: grid4;
    background-color:#f5f5f5 ;
    
}
.grid4 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid4 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img4{
    background: url(img/col22.svg)no-repeat center;
    margin:10% 20% 20% 20%;
    background-size: cover;
    height: 60%;
}
.grid5 {
    grid-area: grid5;
    background-color:#ffdad4 ;
}
.grid5 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid5 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img5{
    background: url(img/col12.png)no-repeat center;
    margin:5% 10% 0% 10%;
    background-size: cover;
    height: 80%;
}
.grid6 {
    grid-area: grid6;
    background-color:#f5f5f5 ;
}
.grid6 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid6 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img6{
    background: url(img/col23.png)no-repeat center;
    margin:10% 20% 20% 20%;
    background-size: cover;
    height: 60%;
}
.grid7 {
    grid-area: grid7;
    background-color:#e8f8f5 ;
}
.grid7 p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 15px;
}
.grid7 p:nth-of-type(2){
    font-weight: 500;
    margin-left: 15px;
    font-size: 25px;
}
#img7{
    background: url(img/col32.svg)no-repeat center;
    margin:5% 20% 20% 20%;
    background-size: contain;
    height: 60%;
}
.grid8 {
    grid-area: grid8;
    background-color:#e31f52 ;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.grid8 p{
    font-size: 50px;
    margin: 5%;
    color: #ffffff;
}
.grid8 i{
    font-size: 30px;
    margin:0 5% 5% 0;
    color: #ffffff;
}
#slide>div{
    cursor: pointer;
}
#slide > div:hover{
    opacity: 80%;
    transition:500ms ;
}
.section3{
    height: 100vh;
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-areas:
    'title title title'
    'res1 res2 res3'
    'res1 res2 res3'
    'res1 res2 res3'
    'res1 res2 res3';
    gap:1% 4%;
}
.section3 #word{
    grid-area: title;
}
.resc1{
    grid-area: res1;
}
.resc2{
    grid-area: res2;
}
.resc3{
    grid-area: res3;
}
#word{
    display: flex;
    align-items: center;
}
#word h1{
    font-size: 40px;
}
.dv{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.dv h3{
    flex-basis: 10%;
}
.dv p{
    flex-basis: 20%;
    line-height: 150%;
    margin-bottom: 5%;
}
.dv div{
    flex-basis: 70%;
}
.resc1 div{
    background: url(img/rebody1.png)no-repeat center;
    background-size: cover;
}
.resc2 div{
    background: url(img/rebody2.png)no-repeat center;
    background-size: cover;
}
.resc3 div{
    background: url(img/rebody3.png)no-repeat center;
    background-size: cover;
}
footer{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding:2% 5%;
}
footer div span{
    font-weight: 700;
}
footer div h3{
    display: inline-block;
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 5px;
}
footer ul li{
    display: inline-block;
    margin-right: 40px;
    
}
footer ul{
cursor: pointer;
color: rgb(84, 84, 84);
}
footer ul :hover{
    color:rgb(0, 0, 0)
}